input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  pointer-events: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}


body {
    background-color:#999999;
    color:  #393939;
    overflow-y:scroll;
    }
    .spacer {
        height: 50px;
        margin-bottom: 50px;
    }
.catalogue_container {
        /*background-color: #393939;
        color: rgb(160, 160, 160);*/
        background-color:#999999;
        color:  #393939;
        border: 1px solid rgb(209, 211, 162); /* 加入外框 */
        padding: 8px; /* 加入內間距 */
        border-radius: 10px; /* 設置圓弧半徑 */
        width: 60vh; 
        height: auto; 
        text-align:center;
    }

.responsive-div {
    /*overflow-y:scroll;*/
    justify-content: flex-end;
    padding: 0 25px;
    font-size: 200%;
    /* background-color:#999999;
    color:  #393939; */
    }
    .container {
    /* background-color:#999999;
    color:  #393939; */
    border: 1px solid rgb(209, 211, 162); /* 加入外框 */
    padding: 8px; /* 加入內間距 */
    border-radius: 10px; /* 設置圓弧半徑 */

    display: flex;
    align-items: center;
    }
        img {
        justify-content: flex-start; /* 靠右對齊 */
        margin-left: 70px; /* 距離右邊邊界23px */
        width: 105px;
        height: 85px;
        }
        .text {
        font-size: 80%;
        margin-left: 5vh; /* 文字左邊間距 */
        text-align: center; /* 文字水平置中 */
        margin-top: 5px;

        }
    a {
    /* color: rgb(213,206,205); 设置默认颜色 */
    color:  #393939; 

    }
    a:hover {
    color: rgb(255, 159, 159); /* 设置鼠标停留颜色 */
    }
    .target:hover {
    background-color: #F0F0F0;
    }
    .card-index {
        position: relative;
        width: 50%;
        margin: 50px auto;
        text-align: center;
        background: linear-gradient(to bottom, #ba8359, #73411d);
        background-image:
        radial-gradient(circle at top left, transparent 5%, #73411d 10%),
        radial-gradient(circle at top right, transparent 20%, #73411d 25%),
        radial-gradient(circle at bottom left, transparent 35%, #73411d 25%),
        radial-gradient(circle at bottom right, transparent 40%, #73411d 20%),
        linear-gradient(#73411d, #73411d) repeat 0 0;
        color: white;
        border: 1.5px solid white;
        z-index: 0;
        /* border-radius: 20px; */

      }
      .card-index:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 55px 55px 0px;
        border-color: transparent #fff #393939 transparent;
        position: absolute;
        top: 0px;
        left: 0px;
        transform: rotate(90deg);
        box-shadow: 5px 0px 0px #ccc;
        z-index: 1;
      }
      
      .card-index:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 70px 70px 0;
        border-color: transparent #393939 #fff transparent;
        position: absolute;
        bottom: 0px;
        right: 0px;
        transform: rotate(90deg);
        box-shadow: 0px 5px 0px #ccc;
        z-index: 1;

      }
      .card-in {
        position: relative;
        width: 100%;
        margin: 4vh auto;
        border-style: hidden;
        text-align: start;
        margin-left: 10vh;
        padding: 20px;
        background-color: transparent;
        color: rgb(223, 223, 223);
        z-index: 0;
        /* border-radius: 20px; */

      }          
      
      .btn-change {
        /* background-color: rgb(241, 183, 75); */
        background-color: rgb(241, 183, 75);

        transition: all 0.3s ease-in-out;
        border: 1px solid white;
      }
      
      .btn-change:hover {
        box-shadow: 0 0 24px rgb(255, 112, 112);
      }

    .title-table {
      padding: 100vh;
      width: 90%;
      border-collapse: collapse;
      margin: auto;
    }
    .title-td {
      max-width: 100px;
      height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
    .body-404 {
      background-size: cover;
      /* text-align: center; */
      font-family: sans-serif;
    }
    .h-404 {
      font-size: 280%;
      padding: 0 10px;
      color: rgb(172, 172, 172);
      /* margin-top: 10px; */
    }
    .p-404 {
      padding: 0 10px;
      font-size: 100%;
      color: rgb(110, 110, 110);
      margin-top: 50px;
    }
    .pre-404 {
      white-space: pre-wrap;
      overflow-wrap: break-word;
      color: rgb(169, 165, 165);
      max-width: 500px;
    }
    /* 按鈕樣式 */
    .copy-p-button {
      margin-left: 10px;
      padding: 5px 10px;
      background-color: #82aad6;
      color: #ffffff;
      border: none;
      cursor: pointer;
      border-radius: 5px; /* 添加圓角 */
      transition: background-color 0.3s ease; /* 添加過渡效果 */
    }

    .span-copy{
      color: black;
      font-weight: bold;
      border-bottom: 2px solid lightgrey;
    } 
    /* 按鈕 hover 樣式 */
    .copy-container:hover .copy-p-button {
      background-color: #2c3f54;
      padding: 4px 9px;
      border: 1px solid white; /* 添加白色边框 */
    }

    /* 調整按鈕位置 */
    .copy-p-button {
      margin-left: auto; /* 將按鈕置於右側 */
    }

    /*回到 最頂or底 按鍵*/
      /* 共用按鍵樣式 */

    #back-to-top {
      position: fixed;
      bottom: 20vh;
      right: 20px;
      display: none; /* 初始隱藏按鍵 */
    }
    #scroll-to-bottom {
      position: fixed;
      bottom: 10vh;
      right: 20px;
      display: none; /* 初始隱藏按鍵 */
    }
      #back-to-top,
      #scroll-to-bottom {
        background-color: #fff4f44f; /* 淺白色背景 */
        border: none;
        border-radius: 50%; /* 圓形按鍵 */
        width: 15px;
        height: 15px;
      }

      /* 向上箭頭 */
      #back-to-top:before {
        content: "\25B2"; /* Unicode 箭頭字符 */
        font-size: 12px;
      }

      /* 向下箭頭 */
      #scroll-to-bottom:before {
        content: "\25BC"; /* Unicode 箭頭字符 */
        font-size: 12px;
      }

    /* ======================================================================== */
    /* ======================================================================== */
    /* ======================================================================== */
    /* ======================================================================== */

    
@media only screen and (max-width: 768px) { /* 如果屏幕宽度小于等于768px */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    pointer-events: none;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    display: none;
  }
  body {
    background-color: #393939;
    color: #bbbbbb;
    overflow-y:scroll;
    }
    .catalogue_container {
        /* background-color: #393939;
        color: #bbbbbb; */
        border: 1px solid rgb(209, 211, 162); /* 加入外框 */
        padding: 8px; /* 加入內間距 */
        border-radius: 10px; /* 設置圓弧半徑 */
        width: 80%; 
        height: auto; 
        text-align:center;
    }
    .responsive-div {
        overflow-y:scroll;
        justify-content: flex-end;
        padding: 0 25px;
        font-size: 200%;
        /* background-color: #393939;
        color: #bbbbbb; */
        }
    .container {
        flex-direction: row; /* 改变布局方向为水平布局 /
        align-items: flex-start; /* 元素靠左对齐 */
        display: flex;
        }
        img {
        justify-content: flex-start; /* 靠右對齊 */
        margin-left: 8%; /* 距離右邊邊界23px */
        width: 6vh; /* 图像的宽度 */
        height: auto; /* 自动计算图像的高度 */
        }
        .text {
        font-size: 50%; /* 文字的大小 */
        margin-left: 2vh; /* 文字与左边界的距离 */
        text-align: start ; /* 文字水平居中 */
        margin-top: 5px; /* 文字与上边界的距离 */
        }
    .spacer {
        height: 25px;
        margin-bottom: 50px;
    }
    a {
      /* color: rgb(213,206,205); 设置默认颜色 */
      color: #bbbbbb;
      }
    .card-index {
        width: 90%;
      }
      .card-in{
        width: 90%;
        border-style: hidden;
        margin-left: 3vh;
        padding: 5%;

      }
      .btn-change {
        background-color: rgb(241, 183, 75);
        transition: all 0.3s ease-in-out;
        border: 1px solid white;
      }
      
      .btn-change:hover {
        box-shadow: 0 0 24px rgb(255, 112, 112);
      }
      
      .title-table {
        width: 100%;
      }
      .title-td {
        max-width: 150px;
        height: 45px;
        overflow: hidden;
        margin-left: 20%;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
      }
      
      .span-copy{
        color: rgb(255, 255, 255);
        border-bottom: 2px solid rgb(172, 172, 172);
      } 
      .copy-p-button {
        margin-top: 1em;
      }

      .h-404 {
        font-size: 80%;
        padding: 0 10px;
        /* color: rgb(172, 172, 172); */
        color: rgb(67, 67, 67);
        /* margin-top: 20%; */
      }
      .p-404 {
        padding: 0 10px;
        font-size: 50%;
        color: rgb(56, 56, 56);
        /* color: rgb(110, 110, 110); */
        margin-top: 50px;
      }
      .pre-404 {
        white-space: pre-wrap;
        overflow-wrap: break-word;
        color: rgb(35, 35, 35);
        /* color: rgb(169, 165, 165); */
        max-width: 500px;
      }
      
      #back-to-top,
      #scroll-to-bottom {
        display: none;
      }
    }

    