body {
    background-color: rgb(41, 41, 41);
    color: rgb(213,206,205);
    }
.responsive-div {
    justify-content: flex-end;
    padding: 0 25px;
    font-size: 200%;
    background-color: rgb(41, 41, 41);
    color: rgb(213,206,205);
    }
    .container {
    background-color:  rgb(41, 41, 41);
    color:  rgb(213,206,205);
    border: 1px solid rgb(209, 211, 162); /* 加入外框 */
    padding: 8px; /* 加入內間距 */
    border-radius: 10px; /* 設置圓弧半徑 */

    display: flex;
    align-items: center;
    }
    img {
    justify-content: flex-start; /* 靠右對齊 */
    margin-left: 70px; /* 距離右邊邊界23px */
    width: 105px;
    height: 85px;
    }
    .text {
    font-size: 80%;
    margin-left: 5vh; /* 文字左邊間距 */
    text-align: center; /* 文字水平置中 */
    margin-top: 5px;
    display: flex;
    align-items: center;
    }
    a {
    color: rgb(213,206,205); /* 设置默认颜色 */
    }
    a:hover {
    color: rgb(255, 159, 159); /* 设置鼠标停留颜色 */
    }
    #target:hover {
        background-color: #F0F0F0;
        }
       