input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  pointer-events: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}


body {
    background-color:#999999;
    color:  #393939;
    overflow-y:scroll;
    }
  p {
      overflow-wrap: anywhere;
  }
    .spacer {
        height: 50px;
        margin-bottom: 50px;
    }
.catalogue_container {
        /*background-color: #393939;
        color: rgb(160, 160, 160);*/
        background-color:#999999;
        color:  #393939;
        border: 1px solid rgb(209, 211, 162); /* 加入外框 */
        padding: 8px; /* 加入內間距 */
        border-radius: 10px; /* 設置圓弧半徑 */
        width: 60vh; 
        height: auto; 
        text-align:center;
    }

.responsive-div {
    overflow-y: hidden;
    justify-content: flex-end;
    padding: 0 25px;
    font-size: 200%;
    /* background-color:#999999;
    color:  #393939; */
    }
    .container {
    /* background-color:#999999;
    color:  #393939; */
    border: 1px solid rgb(209, 211, 162); /* 加入外框 */
    padding: 8px; /* 加入內間距 */
    border-radius: 10px; /* 設置圓弧半徑 */

    display: flex;
    align-items: center;
    }
        img {
        justify-content: flex-start; /* 靠右對齊 */
        margin-left: 70px; /* 距離右邊邊界23px */
        width: 105px;
        height: 85px;
        }
        .text {
        font-size: 80%;
        margin-left: 5vh; /* 文字左邊間距 */
        text-align: center; /* 文字水平置中 */
        margin-top: 5px;

        }
    a {
    /* color: rgb(213,206,205); 设置默认颜色 */
    color:  #393939; 

    }
    a:hover {
    color: rgb(255, 159, 159); /* 设置鼠标停留颜色 */
    }
    .target:hover {
    background-color: #F0F0F0;
    }
    .card-index {
        position: relative;
        width: 50%;
        margin: 50px auto;
        text-align: center;
        background: linear-gradient(to bottom, #ba8359, #73411d);
        background-image:
        radial-gradient(circle at top left, transparent 5%, #73411d 10%),
        radial-gradient(circle at top right, transparent 20%, #73411d 25%),
        radial-gradient(circle at bottom left, transparent 35%, #73411d 25%),
        radial-gradient(circle at bottom right, transparent 40%, #73411d 20%),
        linear-gradient(#73411d, #73411d) repeat 0 0;
        color: white;
        border: 1.5px solid white;
        z-index: 0;
        /* border-radius: 20px; */

      }
      .card-index:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 55px 55px 0px;
        border-color: transparent #fff #393939 transparent;
        position: absolute;
        top: 0px;
        left: 0px;
        transform: rotate(90deg);
        box-shadow: 5px 0px 0px #ccc;
        z-index: 1;
      }
      
      .card-index:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 70px 70px 0;
        border-color: transparent #393939 #fff transparent;
        position: absolute;
        bottom: 0px;
        right: 0px;
        transform: rotate(90deg);
        box-shadow: 0px 5px 0px #ccc;
        z-index: 1;

      }
      .card-in {
        position: relative;
        width: 100%;
        margin: 4vh auto;
        border-style: hidden;
        text-align: start;
        margin-left: 10vh;
        padding: 20px;
        background-color: transparent;
        color: rgb(223, 223, 223);
        z-index: 0;
        /* border-radius: 20px; */

      }          
      
      .btn-change {
        /* background-color: rgb(241, 183, 75); */
        background-color: rgb(241, 183, 75);

        transition: all 0.3s ease-in-out;
        border: 1px solid white;
      }
      
      .btn-change:hover {
        box-shadow: 0 0 24px rgb(255, 112, 112);
      }

    .title-table {
      padding: 100vh;
      width: 90%;
      border-collapse: collapse;
      margin: auto;
    }
    .title-td {
      max-width: 100px;
      height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
    .body-404 {
      background-size: cover;
      /* text-align: center; */
      font-family: sans-serif;
    }
    .h-404 {
      font-size: 280%;
      padding: 0 10px;
      color: rgb(172, 172, 172);
      /* margin-top: 10px; */
    }
    .p-404 {
      padding: 0 10px;
      font-size: 100%;
      color: rgb(110, 110, 110);
      margin-top: 50px;
    }
    .pre-404 {
      white-space: pre-wrap;
      overflow-wrap: break-word;
      color: rgb(169, 165, 165);
      max-width: 500px;
    }
    /* 按鈕樣式 */
    .copy-p-button {
      margin-left: 10px;
      padding: 5px 10px;
      background-color: #82aad6;
      color: #ffffff;
      border: none;
      cursor: pointer;
      border-radius: 5px; /* 添加圓角 */
      transition: background-color 0.3s ease; /* 添加過渡效果 */
    }

    .span-copy{
      color: black;
      font-weight: bold;
      border-bottom: 2px solid lightgrey;
    } 
    /* 按鈕 hover 樣式 */
    .copy-container:hover .copy-p-button {
      background-color: #2c3f54;
      padding: 4px 9px;
      border: 1px solid white; /* 添加白色边框 */
    }

    /* 調整按鈕位置 */
    .copy-p-button {
      margin-left: auto; /* 將按鈕置於右側 */
    }

    /*回到 最頂or底 按鍵*/
      /* 共用按鍵樣式 */

    #back-to-top {
      position: fixed;
      bottom: 20vh;
      right: 15px;
      display: block; /* 初始顯示按鍵 */
    }
    #scroll-to-bottom {
      position: fixed;
      bottom: 10vh;
      right: 15px;
      display: block; /* 初始顯示按鍵 */
    }
      #back-to-top,
      #scroll-to-bottom {
        background-color: #fff4f44f; /* 淺白色背景 */
        border: none;
        border-radius: 50%; /* 圓形按鍵 */
        width: 28px;
        height: 28px;
        transition: all 0.3s; /* 添加過渡效果 */
      }

      /* 向上箭頭 */
      #back-to-top:before,
      /* 向下箭頭 */
      #scroll-to-bottom:before {
        content: ""; /* 清空內容，不添加文字 */
        position: absolute;
        top: 50%; /* 將箭頭的上邊緣定位在父元素的中間 */
        left: 50%; /* 將箭頭的左邊緣定位在父元素的中間 */
        transform: translate(-50%, -50%); /* 將箭頭水平和垂直都置中 */
        font-size: 15px;
      }
        /* 向上箭頭 */
        #back-to-top:before {
          /* content: "\25B2"; Unicode 箭頭字符 */
          content: "\1F879"; /* 向上箭頭 🡹，Unicode 編碼：U+1F879 */

        }

        /* 向下箭頭 */
        #scroll-to-bottom:before {
          /* content: "\25BC"; Unicode 箭頭字符 */
          content: "\1F87B"; /* 向下箭頭 🡻，Unicode 編碼：U+1F87B */

        }

        /* 修改靠近時的樣式 */
        #back-to-top:hover,
        #scroll-to-bottom:hover{
          width: 30px;
          height: 30px;
          background-color: #e1e1e1; 
        }

      /* 下拉選單項目樣式 */
      .dropdown-item {
        /* display: block; */
        transition: background-color 0.3s; /* 添加過渡效果 */
      }
      /* 鼠標懸停時變換下拉選單項目的背景色 */
      .dropdown-item:hover {
        background-color: #e5e5e5;
      }
      
/* 側邊欄 */
      button {
        cursor: pointer;
    }
.out_side_panel_container {
height: 100%;
position: absolute;
display: flex;
align-items: center;
flex-direction: row;
}

/* 側邊欄 */
.side_panel_container {
width: 50vw; /* 設置為視窗寬度的 30% */
height: 100%;
background-color: #333;
color: white;
padding: 5px;
box-sizing: border-box;
position: fixed;
top: 0;
left: -50vw; /* 隱藏在左邊 */
transition: transform 0.3s ease;
transform: translateX(0);
z-index: 2;
}

/* 展開狀態 */
.side_panel_container.open {
transform: translateX(50vw);
min-width: 90px;
}
    
/* 箭頭按鈕 */
.side_panel_toggle {
  position: absolute;
  right: -23px;
  top: 80%;
  transform: translateY(-50%);
  background-color: #333;
  color: white;
  padding: 2% 3% 2% 5%;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 0 4px 4px 0;
  z-index: 3;
}

/* 表單樣式 */
.side_panel_form input[type="text"], input[type="password"] {
width: 100%; /* 隨著側邊欄寬度自動縮放 */
padding: 8px;
margin: 10px 0;
border: none;
border-radius: 4px;
box-sizing: border-box;
}

.side_panel_form {
overflow-y: auto;
padding: 5px;
height: 100%;
}
    
.change_save_quert_place {
display: flex;
gap: 5px;
font-size: 10px;
}
    
/* 按鈕樣式 (查詢章節、儲存章節) */
.change_save_quert_place button {
width: 100%;
padding: 8px 5px;
background-color: #99caff;
border: none;
border-radius: 4px;
color: black;
margin: 10px 0 3px 0;
font-size: inherit;
transition: background-color 0.3s, transform 0.1s, box-shadow 0.2s;
}

.change_save_quert_place button:hover {
background-color: #80b0e8;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.change_save_quert_place button:active {
transform: scale(0.95);
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
    
.mima_place {
position: relative;
display: flex;
align-items: center;
width: 100%;
}

#password {
width: 100%;
box-sizing: border-box;
padding-right: 25px;
}

#toggle_password {
position: absolute;
right: 3%;
background: none;
border: none;
cursor: pointer;
padding: 0;
width: fit-content;
}
/* 密碼顯示切換按鈕 */
#toggle_password {
background: none;
border: none;
cursor: pointer;
padding: 0;
width: fit-content;
transition: transform 0.1s, box-shadow 0.2s;
}

#toggle_password:active {
transform: scale(0.95);
}

    #password_icon {
      width: 20px;
      padding: 0px;
      height: 20px;
    }
    
/* 送出按鈕 */
.side_panel_submit {
width: 100%;
padding: 3px 5px;
background-color: #007bff;
border: none;
border-radius: 4px;
color: white;
margin: 10px 0;
transition: background-color 0.3s, transform 0.1s, box-shadow 0.2s;
}

.side_panel_submit:active {
transform: scale(0.95);
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.side_panel_submit:hover {
background-color: #0056b3;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* 當背景被點擊時縮回側邊 */
.overlay {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 1;
}

.overlay.active {
display: block;
}

    
/* 抖動動畫效果 */
@keyframes shake {
0% { transform: rotate(0deg); }
5% { transform: rotate(2deg); }
10% { transform: rotate(0eg); }
25% { transform: rotate(-2deg); }
30% { transform: rotate(0deg); }
80% { transform: rotate(0deg); }
85% { transform: rotate(2deg); }
90% { transform: rotate(0eg); }
95% { transform: rotate(-2deg); }
100% { transform: rotate(0deg); }
}

/* 將 shake 動畫應用到按鈕 */
.side_panel_submit.shake {
animation: shake 0.5s infinite;
}

input:disabled {
color: light-dark(rgba(0, 0, 0, 0.4), rgba(59, 59, 59, 0.3));
background-color: light-dark(rgb(172, 172, 172), rgb(221, 221, 221));
}
    /* ======================================================================== */
    /* ======================================================================== */
    /* ======================================================================== */
    /* ======================================================================== */

    
@media only screen and (max-width: 768px) { /* 如果屏幕宽度小于等于768px */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    pointer-events: none;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    display: none;
  }
  body {
    background-color: #393939;
    color: #bbbbbb;
    overflow-y:scroll;
    }
    .catalogue_container {
        /* background-color: #393939;
        color: #bbbbbb; */
        border: 1px solid rgb(209, 211, 162); /* 加入外框 */
        padding: 8px; /* 加入內間距 */
        border-radius: 10px; /* 設置圓弧半徑 */
        width: 80%; 
        height: auto; 
        text-align:center;
    }
    .responsive-div {
        overflow-y: hidden;
        justify-content: flex-end;
        padding: 0 25px;
        font-size: 175%;
        /* background-color: #393939;
        color: #bbbbbb; */
        }
        .container {
          flex-direction: row;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 30px;
      }
        img {
          margin-left: 3px;
          padding: 10px;
          width: 30%;
          height: auto;
        }
        .text {
        font-size: 50%; /* 文字的大小 */
        margin-left: 3px; /* 文字与左边界的距离 */
        text-align: start ; /* 文字水平居中 */
        margin-top: 5px; /* 文字与上边界的距离 */
        }
        .copy-container {
          overflow-wrap: anywhere;
        }
    .spacer {
        height: 25px;
        margin-bottom: 50px;
    }
    a {
      /* color: rgb(213,206,205); 设置默认颜色 */
      color: #bbbbbb;
      }
    .card-index {
        width: 90%;
      }
      .card-in{
        width: 90%;
        border-style: hidden;
        margin-left: 3vh;
        padding: 5%;

      }
      .btn-change {
        background-color: rgb(241, 183, 75);
        transition: all 0.3s ease-in-out;
        border: 1px solid white;
      }
      
      .btn-change:hover {
        box-shadow: 0 0 24px rgb(255, 112, 112);
      }
      
      .title-table {
        width: 100%;
      }
      .title-td {
        max-width: 90vh;
        height: 45px;
        padding: 14px;
        overflow: hidden;
        margin-left: 10%;
        /* text-overflow: ellipsis; */
        white-space: nowrap;
        display: block;
      }
      
      .span-copy{
        color: rgb(255, 255, 255);
        border-bottom: 2px solid rgb(172, 172, 172);
      } 
      .copy-p-button {
        margin-top: 1em;
      }

      .h-404 {
        font-size: 80%;
        padding: 0 10px;
        /* color: rgb(172, 172, 172); */
        color: rgb(67, 67, 67);
        /* margin-top: 20%; */
      }
      .p-404 {
        padding: 0 10px;
        font-size: 50%;
        color: rgb(56, 56, 56);
        /* color: rgb(110, 110, 110); */
        margin-top: 50px;
      }
      .pre-404 {
        white-space: pre-wrap;
        overflow-wrap: break-word;
        color: rgb(35, 35, 35);
        /* color: rgb(169, 165, 165); */
        max-width: 500px;
      }

      
    }

  @media only screen and (max-width: 400px) {
      #back-to-top,
      #scroll-to-bottom {
        display: none !important; /* 強制隱藏按鈕 */
      }

      .container {
          gap: 0px;
          flex-wrap: nowrap;
      }
    }